{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

        <div class="row">
            <div class="col-xs-12">
                <h1>LHere!</h1>
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}

                <button type="submit" class="btn btn-success">LHere <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('user_register') }}">RHere</a>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}